@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  background: #fff;
}

#root {
  min-height: 100vh;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
